.page-header{
    padding-top: 140px;
    padding-left: 9rem;
    letter-spacing: -5px;
    line-height: 100px;
    
    font-size: $headerTitleFontSize;
}

.heart {
    @include imgModel(80px, absolute, 445px 0px 0px 92px);
}
.oishee {
    @include imgModel(105px, absolute, 107px 0px 0px 530px);
}
.product {
    @include imgModel(135px, absolute, 245px 0px 0px 595px);
}
.star {
    @include imgModel(135px, absolute, 162px 0px 0px 110px);
    -webkit-transition: all 700ms ease;
    &:hover{
        -webkit-transform: rotate(180deg);
    }
}