header{

	nav{
		background-color: #fff;
		height: 100%;

		ul {
			padding-right: 50px;
			height: 100%;
			display: flex;
			justify-content: flex-end;
			
			list-style-type: none;

			.page-title{
				margin-right: auto;
				
			}

			li{
				
		
				a{

					font-size: 14px;
					color: #8F8F8F;
					text-decoration: none;
					display: block;
					padding: 16px 20px;
					
					&:hover {
						color: #575757;
						transform: translateY(-2px);
						-webkit-transition: all 800ms ease;
						-o-transition-property: all;
					}

				}
			}
		}
	}
}