@mixin imgModel($imgSize, $imgPos, $mr) {
    max-width: $imgSize;
    position: $imgPos;
    margin: $mr;
}

@mixin boxWorkModel($d, $mr, $br, $bgc){
    display: $d;
    padding: $mr;
    border-radius: $br;
    background-color: $bgc;
}
@mixin imgWorkModel($mw,$mh,$mt){
    max-width: $mw;
    max-height: $mh;
    margin-top: $mt;
}
@mixin imgHoverModel{
    box-shadow: 0 4px 10px 0px rgb(0 0 0 / 10%);
    cursor: pointer;
    -webkit-transition: all 900ms ease;
    -o-transition-property: all;
    &:hover{
        box-shadow: 7px 7px 33px rgb(0 0 0 / 15%);
        transform: translateY(-5px);
        
    }
}

@mixin textWorkModel($pl, $mt,$bgc){
    padding-left: $pl;
    margin-top: $mt;
    font-size: medium;
    color: $bgc;
}

@mixin loveBoxImg($link){
    background-image: url($link);
    background-position: center;
    background-size: cover;
    background-origin: content-box;
    background-color: #ffffff;
    border-radius: 15px;
}

@mixin loveBoxHoverModel{
    box-shadow: 0 4px 10px 0px rgb(0 0 0 / 10%);
    cursor: pointer;
    -webkit-transition: all 600ms ease;
    -o-transition-property: all;
    &:hover{
        box-shadow: 7px 7px 33px rgb(0 0 0 / 15%);
        transform: rotate(-2deg);
        
    }
}