.work-boxes{

    display: flex;
    padding-top: 10px;
    gap: 95px;
    

    .work-box-one{
        @include boxWorkModel(display, 600px 440px auto 50px, 30px, #fff7a0);
        @include imgWorkModel(500px,550px,60px);

        @include imgHoverModel();

    }
    
    .work-box-two{
        @include boxWorkModel(display, 320px 420px auto 0px, 30px, red);
        @include imgWorkModel(500px,270px,200px);

        @include imgHoverModel();
    }
    h3{
        @include textWorkModel(7px, 12px, #43464d);
    }
    p{
        
        @include textWorkModel(7px, 12px, #777777);
        font-size: 14px;
    }

}
