$headerTitleFontSize: 120px;

@import 'Helpers/mixin.scss';



* {
	font-family: Fraunces, sans-serif;
	font-style: normal;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	&::selection{
		color: #333333;
		background-color: #FEF79F;
	}
	
}

body{
	background-color: transparent;
	padding-left: 10rem;
	padding-right: 10rem;
	padding-top: 2rem;
}

@import 'layout/nav';

main{
	
	section {
		height: 100%;
		width: 100%;
		background-color: transparent;

		@import 'layout/header';

		@import 'pages/work';

		@import 'pages/love';

		@import 'pages/archive';

		@import 'pages/about';
	}
}
@import 'layout/footer';

@import 'components/mobile.scss';