* {
  font-family: Fraunces, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
*::-moz-selection {
  color: #333333;
  background-color: #FEF79F;
}
*::selection {
  color: #333333;
  background-color: #FEF79F;
}

body {
  background-color: transparent;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 2rem;
}

header nav {
  background-color: #fff;
  height: 100%;
}
header nav ul {
  padding-right: 50px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
header nav ul .page-title {
  margin-right: auto;
}
header nav ul li a {
  font-size: 14px;
  color: #8F8F8F;
  text-decoration: none;
  display: block;
  padding: 16px 20px;
}
header nav ul li a:hover {
  color: #575757;
  transform: translateY(-2px);
  -webkit-transition: all 800ms ease;
  -o-transition-property: all;
}

main section {
  height: 100%;
  width: 100%;
  background-color: transparent;
}
main section .page-header {
  padding-top: 140px;
  padding-left: 9rem;
  letter-spacing: -5px;
  line-height: 100px;
  font-size: 120px;
}
main section .heart {
  max-width: 80px;
  position: absolute;
  margin: 445px 0px 0px 92px;
}
main section .oishee {
  max-width: 105px;
  position: absolute;
  margin: 107px 0px 0px 530px;
}
main section .product {
  max-width: 135px;
  position: absolute;
  margin: 245px 0px 0px 595px;
}
main section .star {
  max-width: 135px;
  position: absolute;
  margin: 162px 0px 0px 110px;
  -webkit-transition: all 700ms ease;
}
main section .star:hover {
  -webkit-transform: rotate(180deg);
}
main section .work-boxes {
  display: flex;
  padding-top: 10px;
  gap: 95px;
}
main section .work-boxes .work-box-one {
  display: display;
  padding: 600px 440px auto 50px;
  border-radius: 30px;
  background-color: #fff7a0;
  max-width: 500px;
  max-height: 550px;
  margin-top: 60px;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
main section .work-boxes .work-box-one:hover {
  box-shadow: 7px 7px 33px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
  -webkit-transition: all 600ms ease;
  -o-transition-property: all;
}
main section .work-boxes .work-box-two {
  display: display;
  padding: 320px 420px auto 0px;
  border-radius: 30px;
  background-color: red;
  max-width: 500px;
  max-height: 270px;
  margin-top: 200px;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
main section .work-boxes .work-box-two:hover {
  box-shadow: 7px 7px 33px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
  -webkit-transition: all 600ms ease;
  -o-transition-property: all;
}
main section .work-boxes h3 {
  padding-left: 7px;
  margin-top: 12px;
  font-size: medium;
  color: #43464d;
}
main section .work-boxes p {
  padding-left: 7px;
  margin-top: 12px;
  font-size: medium;
  color: #777777;
  font-size: 14px;
}
main section .love-title {
  padding-top: 70px;
  font-size: 110px;
  text-align: center;
}
main section .blue-heart {
  max-width: auto;
  position: absolute;
  margin: 110px 0px 0px 340px;
}
main section .selected {
  max-width: 130px;
  position: absolute;
  margin: 130px 0px 0px 620px;
}
main section .orange-star {
  max-width: 120px;
  position: absolute;
  margin: 105px 0px 0px 640px;
}
main section .love-boxes {
  display: grid;
  padding-top: 30px;
  justify-content: center;
  grid-template: 350px 350px/350px 350px;
  grid-column-gap: 30px;
  grid-row-gap: 15px;
}
main section .love-boxes .love-box-one {
  background-image: url("https://egirisim.com/wp-content/uploads/2022/11/spotify-2022-ozeti-kofn.png");
  background-position: center;
  background-size: cover;
  background-origin: content-box;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
main section .love-boxes .love-box-one:hover {
  box-shadow: 7px 7px 33px rgba(0, 0, 0, 0.15);
  transform: rotate(-2deg);
  -webkit-transition: all 200ms ease;
  -o-transition-property: all;
}
main section .love-boxes .love-box-two {
  background-image: url("https://digitalreport.com.tr/wp-content/uploads/2022/11/Spotify-2022-Yilin-Ozeti-yayinlandi_05.jpg");
  background-position: center;
  background-size: cover;
  background-origin: content-box;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
main section .love-boxes .love-box-two:hover {
  box-shadow: 7px 7px 33px rgba(0, 0, 0, 0.15);
  transform: rotate(-2deg);
  -webkit-transition: all 200ms ease;
  -o-transition-property: all;
}
main section .love-boxes .love-box-three {
  background-image: url("https://img.ulusal.com.tr/rcman/Cw510h510q95gm/storage/files/images/2022/11/30/screenshot-haberglobal-VzPw.png");
  background-position: center;
  background-size: cover;
  background-origin: content-box;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
main section .love-boxes .love-box-three:hover {
  box-shadow: 7px 7px 33px rgba(0, 0, 0, 0.15);
  transform: rotate(-2deg);
  -webkit-transition: all 200ms ease;
  -o-transition-property: all;
}
main section .love-boxes .love-box-four {
  background-image: url("https://img.ulusal.com.tr/rcman/Cw510h508q95gm/storage/files/images/2022/11/30/screenshot-haberglobal-NxN3.png");
  background-position: center;
  background-size: cover;
  background-origin: content-box;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
main section .love-boxes .love-box-four:hover {
  box-shadow: 7px 7px 33px rgba(0, 0, 0, 0.15);
  transform: rotate(-2deg);
  -webkit-transition: all 200ms ease;
  -o-transition-property: all;
}
main section .archive-title {
  padding-top: 8rem;
  padding-left: 140px;
  color: rgb(26, 27, 31);
  font-size: 8rem;
  letter-spacing: -11px;
  line-height: 105px;
}
main section .star2 {
  max-width: 135px;
  position: absolute;
  margin: 145px 0px 0px 110px;
  -webkit-transition: all 300ms ease;
}
main section .star2:hover {
  -webkit-transform: rotate(95deg);
}
main section .since {
  max-width: auto;
  position: absolute;
  margin: 235px 0px 0px 500px;
}
main section .green-star {
  max-width: 70px;
  position: absolute;
  margin: 275px 0px 0px 550px;
  -webkit-transition: all 600ms ease;
}
main section .green-star:hover {
  -webkit-transform: rotate(190deg);
}
main section .archive-boxes {
  display: grid;
  padding-top: 70px;
  justify-content: center;
  grid-template: 280px 280px/450px 450px;
  grid-column-gap: 90px;
  grid-row-gap: 50px;
}
main section .archive-boxes .archive-box-one {
  background-image: url("https://www.digitalmusicnews.com/wp-content/uploads/2017/06/spotify-playlists-5.jpg");
  background-position: center;
  background-size: cover;
  background-origin: content-box;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
main section .archive-boxes .archive-box-one:hover {
  box-shadow: 7px 7px 33px rgba(0, 0, 0, 0.15);
  transform: rotate(-2deg);
  -webkit-transition: all 200ms ease;
  -o-transition-property: all;
}
main section .archive-boxes .archive-box-two {
  background-image: url("https://majorhifi.com/wp-content/uploads/spotify-create-playlists.jpg");
  background-position: center;
  background-size: cover;
  background-origin: content-box;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
main section .archive-boxes .archive-box-two:hover {
  box-shadow: 7px 7px 33px rgba(0, 0, 0, 0.15);
  transform: rotate(-2deg);
  -webkit-transition: all 200ms ease;
  -o-transition-property: all;
}
main section .archive-boxes .archive-box-three {
  background-image: url("https://cfb.rabbitloader.xyz/rzrkhjhk/rls.t-nw-a28/wp-content/uploads/2021/09/screenshot_26.png");
  background-position: center;
  background-size: cover;
  background-origin: content-box;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
main section .archive-boxes .archive-box-three:hover {
  box-shadow: 7px 7px 33px rgba(0, 0, 0, 0.15);
  transform: rotate(-2deg);
  -webkit-transition: all 200ms ease;
  -o-transition-property: all;
}
main section .archive-boxes .archive-box-four {
  background-image: url("https://images.vice.com/noisey/content-images/contentimage/71334/Screen-Shot-2015-09-25-at-12-48-21-PM.jpg?resize=640:*");
  background-position: center;
  background-size: cover;
  background-origin: content-box;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
main section .archive-boxes .archive-box-four:hover {
  box-shadow: 7px 7px 33px rgba(0, 0, 0, 0.15);
  transform: rotate(-2deg);
  -webkit-transition: all 200ms ease;
  -o-transition-property: all;
}
main section .about-body {
  padding-top: 12rem;
  padding-bottom: 12rem;
}
main section .about-body .about-title {
  text-align: center;
  font-size: 120px;
  color: #1a1b1f;
  letter-spacing: -8px;
  line-height: 105px;
}
main section .about-body .about-title .love-text {
  color: #e76295;
}
main section .about-body .about-title .love-text:hover {
  color: #e93d7f;
  font-size: 127px;
  -webkit-transition: all 900ms ease;
}
main section .about-body .about-title .about-text {
  color: #13d87a;
}
main section .about-body .about-title .about-text:hover {
  color: #0dbe69;
  font-size: 127px;
  -webkit-transition: all 900ms ease;
}

footer {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  padding: 5px;
}
footer .icons {
  display: flex;
  justify-content: center;
  padding-top: 33px;
  gap: 20px;
}
footer .icons .media-icon {
  max-width: 30px;
  max-height: 30px;
}
footer .icons .media-icon:hover {
  max-width: 40px;
  max-height: 40px;
  box-shadow: 7px 7px 33px rgba(0, 0, 0, 0.15);
  transform: translate(15%);
  -webkit-transition: all 500ms ease;
  -o-transition-property: all;
}/*# sourceMappingURL=main.css.map */