$headerTitleFontSize: 120px;

* {
	font-family: Fraunces, sans-serif;
	font-style: normal;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

body{
	background-color: #fff;
	padding-left: 10rem;
	padding-right: 10rem;
	padding-top: 2rem;
}

h1,p, a{
::selection{
		color: #333333;
		background-color: #FEF79F;
	}
}
//HEADER
header{

	nav{
		background-color: #fff;
		height: 100%;

		ul {
			padding-right: 50px;
			height: 100%;
			display: flex;
			justify-content: flex-end;
			
			list-style-type: none;

			.page-title{
				margin-right: auto;
				
			}

			li{
				
		
				a{

					font-size: 14px;
					color: #8F8F8F;
					text-decoration: none;
					display: block;
					padding: 16px 20px;
					
					:hover {
						color: #575757;
						transform: translateY(-2px);
						-webkit-transition-delay: 150ms;
						-webkit-transition-property: all;
						-o-transition-property: all;
					}

				}
			}
		}
	}
}

//MAİN

main{
	
	section {
		height: calc(100vh - 50px);
		background-color: #fff;
		width: 100%;

		.page-header{
			padding-top: 140px;
			padding-left: 9rem;
			letter-spacing: -5px;
			line-height: 100px;
			
			font-size: $headerTitleFontSize;
		}

		@mixin imgModel($imgSize, $imgPos, $mr) {
			max-width: $imgSize;
            position: $imgPos;
            margin: $mr;
		}

        .heart {
			@include imgModel(80px, absolute, 445px 0px 0px 92px);
        }
		.oishee {
			@include imgModel(105px, absolute, 107px 0px 0px 530px);
		}
		.product {
			@include imgModel(135px, absolute, 245px 0px 0px 595px);
		}
		.star {
			@include imgModel(135px, absolute, 162px 0px 0px 110px);
			-webkit-transition: all 700ms ease;
			:hover{
				-webkit-transform: rotate(180deg);
			}
		}

		//SECOND SECTION
		.work-title{
			font-family: 'General Sans', sans-serif;
			text-align: center;
			color: #575757;
		}
		.work-boxes{

			display: flex;
			padding-top: 10px;
			gap: 95px;
			
			@mixin boxWorkModel($d, $mr, $br, $bgc){
				display: $d;
				padding: $mr;
				border-radius: $br;
				background-color: $bgc;
			}
			@mixin imgWorkModel($mw,$mh,$mt){
				max-width: $mw;
				max-height: $mh;
				margin-top: $mt;
			}
			.work-box-one{
				@include boxWorkModel(display, 600px 440px auto 50px, 30px, #fff7a0);
				@include imgWorkModel(500px,550px,60px);
			}
			
			.work-box-two{
				@include boxWorkModel(display, 320px 420px auto 0px, 30px, red);
				@include imgWorkModel(500px,270px,200px);
			}

			@mixin textWorkModel($pl, $mt,$bgc){
				padding-left: $pl;
				margin-top: $mt;
				font-size: medium;
				color: $bgc;
			}
			h3{
				@include textWorkModel(7px, 12px, #43464d);
			}
			p{
				
				@include textWorkModel(7px, 12px, #777777);
				font-size: 14px;
			}
		}
	}
}


footer{
	width: 100%;
	height: 100px;
	margin-bottom: 5px;
	.icons{
		$iconSize: 30px;
		display: flex;
		justify-content: center;
		padding-top: 33px;
		gap: 20px;
		.github{
			max-width: $iconSize;
			max-height: $iconSize;
		}
		.instagram{
			max-width: $iconSize;
			max-height: $iconSize
		}
		.twitter{
			max-width: $iconSize;
			max-height: $iconSize
		}
	}

}