$headerTitleFontSize: 120px;
$test: white;
$test1: white;

@import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto&display=swap');
* {
	font-family: Fraunces, sans-serif;
	font-style: normal;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

body{
	background-color: #fff;
	padding-left: 10rem;
	padding-right: 10rem;
	padding-top: 2rem;

}

h1,p, a{
::selection{
		color: #333333;
		background-color: #FEF79F;
	}
}

//HEADER
header{
	
	nav{
		background-color: $test1;
		height: 100%;
		ul {
			padding-right: 50px;
			height: 100%;
			display: flex;
			justify-content: flex-end;
			
			list-style-type: none;

			.page-title{
				margin-right: auto;
				
			}

			li{
				
		
				a{

					font-size: 14px;
					color: #8F8F8F;
					text-decoration: none;
					display: block;
					padding: 16px 20px;
					
					:hover {
						color: #575757;
						transform: translateY(-2px);
						-webkit-transition-delay: 150ms;
						-webkit-transition-property: all;
						-o-transition-property: all;
					}

				}
			}
		}
	}
}

//MAİN

main{
	section {
		height: calc(100vh - 50px);
		background-color: $test;

		.page-header{
			padding-top: 140px;
			padding-left: 9rem;
			letter-spacing: -5px;
			line-height: 100px;
			
			font-size: $headerTitleFontSize;
		}

		@mixin imgTemplate($imgSize, $imgPos, $mt, $mb, $mr, $ml) {
			max-width: $imgSize;
            position: $imgPos;
            margin: $mt $mb $mr $ml;
		}

        .heart {
			@include imgTemplate(80px, absolute, 445px, 0px, 0px, 92px);
        }
		.oishee {
			@include imgTemplate(105px, absolute, 107px, 0px, 0px, 530px);
		}
		.product {
			@include imgTemplate(135px, absolute, 245px, 0px, 0px, 595px);
		}
		.star{
			@include imgTemplate(135px, absolute, 162px, 0px, 0px, 110px);
			-webkit-transition: all 700ms ease;
			:hover{
				-webkit-transform: rotate(180deg);
			}
		}
	}
}